.verification_info{
    background-color: rgba(255, 255, 0, 0.3);
    border: 1px solid #ffc000;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.verification_danger{
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid #ff0000;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.verification_success{
    background-color: rgba(115, 255, 0, 0.2);
    border: 1px solid #28cb00;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 2%;
}

.verification_text{
    font-size: 13pt;
}
